<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://gkpixelnew.github.io/GKProSkillAPI/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.6.5/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8"/>
    <title>SkillAPI - Dynamic Editor</title>

    <!-- other scripts are loaded in main.js -->
    <script src="editor/js/loader.js"></script>
    <script src="editor/js/main.js"></script>
    <link rel="stylesheet" href="editor/builderStyle.css"/>
    <link rel="stylesheet" href="editor/style.css"/>
    <link rel="stylesheet" href="editor/tooltips.css"/>
</head>

<body>
<div id="super" style="height: 96.5vh">
    <header>
        <div>
            <h1 class="q-pb-none">GKPixel</h1>
            <h2>Skill Editor</h2>
        </div>
    </header>
    <div id="version">
        <label for="version-select">
            Minecraft Version
        </label>
        <select id="version-select">
            <option>1.19</option>
            <!-- <option>1.18</option>
            <option>1.17</option>
            <option>1.16</option>
            <option>1.15</option>
            <option>1.14</option>
            <option>1.13</option>
            <option>1.12</option>
            <option>1.11</option>
            <option>1.10</option>
            <option>1.9</option>
            <option>1.8</option>
            <option>1.7</option> -->
        </select>
    </div>
    <div id="io" class="q-pt-sm">
        <q-avatar v-if="loggedIn&&username!==''" class="q-mt-sm q-mr-sm"><img :src="avatar" alt="Avatar"></q-avatar>
        <span>{{ username }}</span>
        <q-btn v-if="!loggedIn"
               color="primary"
               style="width: calc(100% - 20px)"
               onclick="window.location.href = 'https\://accounts.robothanzo.dev/v1/discord/login?redirect=' + window.location.href">
            登入
        </q-btn>
        <q-btn v-if="loggedIn"
               class="q-mt-sm"
               color="negative"
               style="width: calc(100% - 20px)"
               onclick="window.location.href = 'https\://accounts.robothanzo.dev/v1/discord/logout?redirect=' + window.location.href;
                     window.localStorage.removeItem('token')">登出
        </q-btn>
    </div>
    <div id="small">
        <p>請將視窗放大</p>
    </div>
    <div id="main">
        <div id="tabSpacer"></div>
        <div id="skillTab" class="tab tabLeft tabActive">
            技能
        </div>
        <div id="classTab" class="tab tabRight">
            信仰
        </div>
        <div id="skills">
            <q-list dense bordered padding class="rounded-borders" style="width: 200px;float: left;height: 100%">
                <q-item clickable :active="skill.data[0].value===activeSkillId" v-ripple v-for="skill in skills"
                        @click="changeSkill(skill)" :dummy="dummy">
                    <q-item-section :dummy="dummy">
                        <span v-if="!this.loading.includes(skill.data[0].value)">{{ skill.data[0].value }}</span>
                        <q-spinner v-else></q-spinner>
                    </q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="reload()">
                    <q-item-section>
                        重新整理所有技能
                    </q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="newSkill()">
                    <q-item-section>
                        新增技能
                    </q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="importSkill()">
                    <q-item-section>
                        匯入技能
                    </q-item-section>
                </q-item>
            </q-list>
            <h6 id="skillDetails">詳細資料</h6>
            <h6 id="addTrigger">觸發條件</h6>
            <h6 id="saveSkill">儲存技能</h6>
            <h6 id="uploadSkill" @click="uploadSkill()">上傳技能</h6>
            <h6 id="deleteSkill" class="cancelButton">刪除技能</h6>
            <div id="builder">
                <div id="builderContent"></div>
            </div>

            <!-- Component editor -->
            <div id="skillForm">
            </div>

            <!-- Trigger selection -->
            <div id="triggerChooser">
                <h4>觸發條件</h4>
                <div id="triggerOptions"></div>
                <h5 class="cancelButton">取消</h5>
            </div>

            <!-- Component selection -->
            <div id="componentChooser">
                <h4>目標</h4>
                <div id="targetOptions"></div>

                <h4>判斷式</h4>
                <div id="conditionOptions"></div>

                <h4>機制</h4>
                <div id="mechanicOptions"></div>

                <hr/>
                <h5 class="cancelButton">取消</h5>

            </div>
        </div>
        <div id="classes">
            <select id="classList" size="30">
                <option selected="selected">Class 1</option>
                <option>+ 新增信仰</option>
                <option @click="this.importClass()">+ 匯入信仰</option>
            </select>
            <h6 id="saveClass" class="classIO" @click="saveClass()">儲存信仰</h6>
            <h6 id="uploadClass" class="classIO" @click="uploadClass()">上傳信仰</h6>
            <h6 id="deleteClass" class="cancelButton classIO" @click="deleteClass()">刪除信仰</h6>
            <div id="classForm"></div>
        </div>
        <div id="badBrowser">
            <p>載入中...</p>
        </div>
    </div>
    <q-dialog ref="importDialog" persistent>
        <q-card class="q-dialog-plugin">
            <q-card-section>
                <div class="text-h5">匯入{{ this.import.type === 'class' ? '信仰' : '技能' }}</div>
                <div>輸入或選擇要匯入的ID</div>
            </q-card-section>
            <q-card-section>
                <q-input v-model="this.import.id"
                         :label="(this.import.type === 'class' ? '信仰' : '技能') + 'ID'"></q-input>
                <q-select v-model="this.import.id" :loading="this.import.loadingChoices" :options="this.import.choices"
                          :label="(this.import.type === 'class' ? '信仰' : '技能') + '列表'"></q-select>
            </q-card-section>
            <q-card-actions align="right">
                <q-btn flat color="negative" label="Cancel" @click="this.$refs.importDialog.hide()"></q-btn>
                <q-btn flat color="primary" label="OK" @click="this.importCallback()"></q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.7.5/dist/quasar.umd.prod.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                avatar: "",
                username: "",
                loggedIn: false,
                import: {
                    type: '',
                    id: '',
                    choices: [],
                    loadingChoices: false
                },
                dummy: 0,
                skills: [],
                activeSkillId: "",
                loading: []
            }
        },
        created() {
            Quasar.Dark.set(true);
            const url = new URL(window.location.href);
            let token = url.searchParams.get("token");
            if (token !== null) {
                url.searchParams.delete("token");
                window.history.replaceState({}, "", url.href);
                window.localStorage.setItem("token", token);
            }
            token = window.localStorage.getItem("token");
            if (token !== null) {
                const account = JSON.parse(atob(token.split('.')[1]));
                if (account.exp * 1000 <= new Date().getTime()) {
                    console.log("Token expired");
                    window.localStorage.removeItem("token");
                } else {
                    this.loggedIn = true;
                    console.log("Logged in");
                    axios.get("https://accounts.robothanzo.dev/v1/discord/user/" + account.account.discordId, {
                        headers: {
                            "Authorization": "Bearer " + getApiKey()
                        }
                    }).then(response => {
                        if (response.data.success) {
                            this.username = response.data.username;
                            this.avatar = response.data.avatar;
                        }
                    });
                }
            }
        },
        methods: {
            uploadSkill() {
                if (activeComponent) {
                    activeComponent.update();
                    try {
                        document.getElementById('skillForm').removeChild(activeComponent.form);
                    } catch (e) {}
                }
                showSkillPage('builder');
                const apiKey = getApiKey();
                let formData = new FormData();
                formData.append('details', new Blob([JSON.stringify({skillId: activeSkill.data[0].value})], {
                    type: 'application/json'
                }));
                formData.append('file', new File([new Blob([activeSkill.getSaveString()], {
                    type: 'application/x-yaml'
                })], activeSkill.data[0].value + ".yml"));
                axios.post('https://cdn.gkpixel.com/v1/skill', formData, {
                    headers: {
                        'Authorization': 'Bearer ' + apiKey,
                    }
                }).then(function (response) {
                    if (response.data.success) {
                        notifySuccess('上傳成功')
                    } else {
                        notifyFailure('上傳失敗')
                    }
                }).catch(function (error) {
                    notifyFailure('上傳失敗，錯誤 ' + error.response.status)
                });
            },
            uploadClass() {
                const apiKey = getApiKey();
                let formData = new FormData();
                formData.append('details', new Blob([JSON.stringify({classId: activeClass.data[0].value})], {
                    type: 'application/json'
                }));
                formData.append('file', new File([new Blob([activeClass.getSaveString()], {
                    type: 'application/x-yaml'
                })], activeClass.data[0].value + ".yml"));
                axios.post('https://cdn.gkpixel.com/v1/class', formData, {
                    headers: {
                        'Authorization': 'Bearer ' + apiKey,
                    }
                }).then(function (response) {
                    if (response.data.success) {
                        notifySuccess('上傳成功')
                    } else {
                        notifyFailure('上傳失敗')
                    }
                }).catch(function (error) {
                    notifyFailure('上傳失敗，錯誤 ' + error.response.status)
                });
            },
            saveClass() {
                saveClass();
            },
            deleteClass() {
                deleteClass();
            },
            importCallback() {
                if (this.import.type === 'class') {
                    importClass(this.import.id)
                } else {
                    importSkill(this.import.id)
                }
                this.$refs.importDialog.hide();
            },
            importSkill() {
                this.import = {
                    type: 'skill',
                    id: '',
                    choices: [],
                    loadingChoices: true
                };
                this.$refs.importDialog.show();
                axios.get("https://cdn.gkpixel.com/v1/skill", {
                    headers: {
                        'Authorization': 'Bearer ' + getApiKey(),
                    }
                }).then(response => {
                    if (response.data.success) {
                        this.import.choices = response.data.skills.map(s => {
                            return s.skillId
                        }).sort();
                        this.import.loadingChoices = false;
                    } else {
                        notifyFailure('讀取技能列表失敗')
                    }
                }).catch(function (error) {
                    notifyFailure('讀取技能列表失敗，錯誤 ' + error.response.status)
                });
            },
            importClass() {
                this.import = {
                    type: 'class',
                    id: '',
                    choices: [],
                    loadingChoices: true
                };
                this.$refs.importDialog.show();
                axios.get("https://cdn.gkpixel.com/v1/class", {
                    headers: {
                        'Authorization': 'Bearer ' + getApiKey(),
                    }
                }).then(response => {
                    if (response.data.success) {
                        this.import.choices = response.data.classes.map(s => {
                            return s.classId
                        }).sort();
                        this.import.loadingChoices = false;
                    } else {
                        notifyFailure('讀取信仰列表失敗')
                    }
                }).catch(function (error) {
                    notifyFailure('讀取信仰列表失敗，錯誤 ' + error.response.status)
                });
            },
            newSkill() {
                newSkill();
            },
            changeSkill(skill) {
                activeSkill.update();
                if (activeComponent) {
                    activeComponent.update();
                }
                activeSkill = skill;
                activeSkill.apply();
                showSkillPage('builder');
            },
            updateSkills(s) {
                this.skills = s
                this.dummy++;
            },
            reload() {
                for (const skill of skills) {
                    this.loading.push(skill.data[0].value);
                    importSkill(skill.data[0].value, ()=>{
                        this.loading.splice(this.loading.indexOf(skill.data[0].value), 1);
                    }, ()=>{
                        skills.splice(skills.indexOf(skill), 1);
                    });
                }
            }
        }
    })

    app.use(Quasar)
    const vue = app.mount('#super');
</script>
</body>

</html>
